<!DOCTYPE html>
<html>
<head>
	<title>ASADAS - Inicio de administrador</title>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="js/slippry.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="styles/style.css">
	<link rel="stylesheet" href="styles/demo.css">
    <link rel="stylesheet" href="styles/slippry.css">
    <script type="text/javascript" src="js/header.js"></script>
    <script type="text/javascript" src="js/sidebar.js"></script>
    <script type="text/javascript" src="js/cookies.js"></script>
    <script type="text/javascript" src="js/footer.js"></script>
</head>
<body>

<header id="mainHeader">
	<!--div class="header-logo"></div>
	<div class="header-right">
		<div class="header-top">
			<div class="header-icono"><img class="icono-usuario" src="images/icono_usuario.png"></div>
			<div id="nav" class="header-icono-texto">
			<ul>
                <li> <a href="#">giaccosup@gmail.com</a>
	                <ul>
					<li><a href="index.html">Cerrar sesión</a></li>
			        </ul>
			    </li>
            </ul>
	        </div>
		</div>
		<div class="header-bottom">
			<a class="header-bttn" href="adm_inicio.html">Inicio</a>
			<a class="header-bttn" href="noticias.html">Noticias</a>
			<a class="header-bttn" href="sobreasada.html">Sobre Nosotros</a>
			<a class="header-bttn" href="contacto.html">Contáctenos</a>
		</div>
	</div-->
</header>
    
<script>
        function visibleConsulta(){
        
                document.getElementById("formFiltroFecha").style.display = 'inherit';
                document.getElementById("formNombreAbonado").style.display = 'inherit';
             
           
        }
    
    </script>
    <script>
        function visibleTipoConsulta(){
            var selectBox = document.getElementById("selectTipoConsulta");
            var selectedValue = selectBox.options[selectBox.selectedIndex].value;
        
                
                
           if(selectedValue == "list"){
                document.getElementById("formFiltroListado").style.display = 'inherit';
            }
            
             if(selectedValue == "ced"){
                document.getElementById("formFiltroListado").style.display = 'none';
                
             }
             
           
        }
    
    </script>
<script>
     function filtrar(){
        
                document.getElementById("formReporteAbonado").style.display = 'inherit';
             document.getElementById("formBotonesResult").style.display = 'inherit';
                
           
        }
    </script>
    <script>
     function generarListado(){
        
                document.getElementById("formReporteAbonados").style.display = 'inherit';
             document.getElementById("formBotonesResult").style.display = 'inherit';
                
           
        }
    </script>
<div class="main-content">
	<div class="sidebar">
        <div id="sidebarMenu">
        </div>
		<!--a href="adm_tramitesPendientes.html">Trámites</a>
		<a href="adm_admins.html">Administradores</a>
		<a href="adm_plantillas.html">Plantillas</a>
		<a href="adm_fontaneros.html">Fontaneros</a>
		<a href="adm_juntaDirectiva.html">Junta Directiva</a>
		<a href="adm_estaAsociacion.html">Esta Asociación</a>
		<a href="adm_noticias.html">Administrar Noticias</a>
		<a href="adm_crearFormulario.html">Crear Formulario</a-->
	</div>
	<div class="actual-content">
		<div class="fondo-general">
			<div class="segundo-fondo-general">
				<div class="tercer-fondo-general">
					<div class="contenido-tramitesPendientes">
                       
				        <div class="texto-titulo">Mora e Interés</div>
                            <br>
                            <h1 class="noticias-titulo">Consulta de Estado de Cuenta</h1>
                            <br>
                            <span>Consulta por:</span>
                            <br>
                        <div>
                            <div class="row">
                              <div class="col-sm-4">
                                <select id="selectTipoConsulta" onchange="visibleTipoConsulta()">
								<option value="ced">Cedula</option>
                                <option value="list">Listado</option>
                                </select>
                                </div>
                              <div class="col-sm-4">
                                <input type="text">
							
                                </div>
                              <div class="col-sm-4">
                                  
                               <button  type="button"  onClick = "visibleConsulta()">Consultar</button>
							
                                </div>
                                
                            </div> 
						</div>
                        <div>
                            <div class="row">
                              <div class="col-sm-4">
                                
                                </div>
                              <div class="col-sm-8">
                                <form id="formNombreAbonado" style='display:none'>
                                <h1 class="noticias-titulo">Harold Gamboa Oconitrillo</h1>
                                  </form>
                                </div>
                              <div class="col-sm-4">
                               
							
                                </div>
                            </div> 
						</div>
                        <div>
                            <form id="formFiltroFecha"  style='display:none'>
                            <span>Filtrar por fecha:</span>
							  <div class="row">
                              <div class="col-sm-4" >
                                 
                                  <table class="table-simple">
                                    <tr>
                                        <td align="right">De:</td><td align="left"><input type="date" ></td>
                                    </tr>
                                  </table>
                                  
                                </div>
                              <div class="col-sm-4">
                                <table class="table-simple">
                                    <tr>
                                      <td align="right">A:</td><td align="left"><input type="date" ></td>
                                    </tr>
                                  </table>
							
                                </div>
                              <div class="col-sm-4">
                                <table class="table-simple">
                                    <tr>
                                      <td><button type="button" onClick = "filtrar()">Filtrar</button> <td>
                                    </tr>
                                  </table>
                               
                                </div>
                            </div> 
                                
                        </form>
                            <form id="formFiltroListado"  style='display:none'>
                            <span>Seleccione una Asada:</span>
                               
                                
							  <div class="row">
                              <div class="col-sm-4" >
                                
                                    <select>
								
								<option>San José de la Montaña</option>
								<option>Todas</option>
                                  </select>
                                  
                                  
                                </div>
                              <div class="col-sm-4">
                                  
                                <table class="table-simple">
                                    <tr>
                                      <td align="right">De:</td><td align="left"><input type="date" ></td>
                                    </tr>
                                
                                  </table>
                                  
                                    
                                    <br>
                                  <button  type="button"  onClick = "generarListado()">Filtrar</button>
                                  
							         <br>
                                        <br>
                                </div>
                              <div class="col-sm-4">
                                <table class="table-simple">
                                    <tr>
                                      <td align="right">A:</td><td align="left"><input type="date" ></td>
                                    </tr>
                                    
                                  </table>
							
                               
                                </div>
                            </div> 
                                
                        </form>
                            <form id="formReporteAbonado"  style='display:none'>
                        <table  width=100%>
							  <tr>
								<th>Numero de Cuota</th>
								<th>Valor de Cuota Mensual</th>
								<th>Abono Capital</th>
                                <th>Abono a Intereses</th>
                                <th>Saldo del Crédito</th>
                                <th>Morosidad</th>
								<th></th>
							  </tr>
                                <tr>
								<th>1</th>
								<th>539</th>
								<th>473</th>
                                <th>66</th>
                                <th>2527</th>
                                <th> X  </th>
								
							  </tr>
                               
                                <tr>
								<th>2</th>
								<th>539</th>
								<th>484</th>
                                <th>56</th>
                                <th>2043</th>
                                <th> X  </th>
								
							  </tr>
                            
                                <tr>
								<th>3</th>
								<th>539</th>
								<th>494</th>
                                <th>45</th>
                                <th>1549</th>
                                <th> X  </th>
								
							  </tr>
                            <tr>
								<th>4</th>
								<th>539</th>
								<th>505</th>
                                <th>34</th>
                                <th>1044</th>
                                <th> X  </th>
								
							  </tr>
                            <tr>
								<th>5</th>
								<th>539</th>
								<th>516</th>
                                <th>23</th>
                                <th>528</th>
                                <th> X  </th>
								
							  </tr>
                            <tr>
								<th>6</th>
								<th>539</th>
								<th>528</th>
                                <th>12</th>
                                <th>0</th>
                                <th> X   </th>
								
							  </tr>
							  
							</table>
                        </form>
                            <form id="formReporteAbonados"  style='display:none'>
                        <table  width=100%>
							  <tr>
								<th>Numero de Cuota</th>
								<th>Valor de Cuota Mensual</th>
								<th>Abono Capital</th>
                                <th>Abono a Intereses</th>
                                <th>Saldo del Crédito</th>
                                <th>Morosidad</th>
								<th></th>
							  </tr>
                                <tr>
								<th>1</th>
								<th>539</th>
								<th>473</th>
                                <th>66</th>
                                <th>2527</th>
                                <th> X  </th>
								
							  </tr>
                               
                                <tr>
								<th>2</th>
								<th>539</th>
								<th>484</th>
                                <th>56</th>
                                <th>2043</th>
                                <th> X  </th>
								
							  </tr>
                            
                                <tr>
								<th>3</th>
								<th>539</th>
								<th>494</th>
                                <th>45</th>
                                <th>1549</th>
                                <th> X  </th>
								
							  </tr>
                            <tr>
								<th>4</th>
								<th>539</th>
								<th>505</th>
                                <th>34</th>
                                <th>1044</th>
                                <th> X  </th>
								
							  </tr>
                            <tr>
								<th>5</th>
								<th>539</th>
								<th>516</th>
                                <th>23</th>
                                <th>528</th>
                                <th> X  </th>
								
							  </tr>
                            <tr>
								<th>6</th>
								<th>539</th>
								<th>528</th>
                                <th>12</th>
                                <th>0</th>
                                <th> X   </th>
								
							  </tr>
							  
							</table>
                        </form>
                        </div>
                        
                           
                            <div class="row">
                              <div class="col-sm-4" >
                                 
                                  
                                  
                                </div>
                              <div class="col-sm-8">
                                  <form id="formBotonesResult" style='display:none'>
                                      <br>
                                <table class="table-simple">
                                    <tr>
                                      
                                        <td ><input type="submit" value="Descargar en PDF" ></td>
                                    </tr>
                                  </table>
                                  </form>
                                </div>
                              <div class="col-sm-4">
                               
                               
                                </div>
                            </div> 
                            
                       
                    </div>
				    </div>
				</div>
			
		</div>
	</div>
</div>

<footer id="mainFooter">
	<!--div id="footerASADA" class="footer-left">
		<h3>ASADAS inscritas</h3>

	</div>

	<div id="footerContacto" class="footer-right">
		<h3>Contacto</h3>
	</div>

	<div class="footer-bottom"> 
		<div> Instituto Tecnológico de Costa Rica ® 2017 </div>
	</div-->
</footer>

</body>

</html>
