<!DOCTYPE html>
<html>
<head>
	<title>ASADAS - Formularios</title>
	<link rel="stylesheet" type="text/css" href="styles/style.css">
	<link href="https://fonts.googleapis.com/css?family=Pontano+Sans" rel="stylesheet">
	<script type="text/javascript" src="js/footer.js"></script>
</head>
<body>

<header>
	<div class="header-logo"></div>
	<div class="header-right">
		<div class="header-top"></div>
		<div class="header-bottom">
			<button class="header-bttn">Inicio</button>
			<button class="header-bttn">ASADAS</button>
			<button class="header-bttn">Noticias</button>
			<button class="header-bttn">Sobre Nosotros</button>
			<button class="header-bttn">Contáctenos</button>
		</div>
	</div>
</header>

<div class="main-content">
	<div class="sidebar">
		<button>Trámites</button>
		<button>Formularios</button>
		<button>Administradores</button>
		<button>Fontaneros</button>
		<button>Junta Directiva</button>
		<button>Esta Asociación</button>
	</div>
	<div class="actual-content">
	<div class="fondo-general">
	<div class="segundo-fondo-general">
		<div class="tercer-fondo-general">
		<div class="contenido-tramitesPendientes">
			<div class="texto-titulo">Formularios</div>
			<br>

			<table width=100%>
			  <tr>
			  	<th>Nombre</th>
			  	<th>Descripción</th>
				<th>Número de formulario</th>
				
				<th>Ver más</th>
			  </tr>
			  <tr>
				<td>Solicitud hídrica</td>
				<td> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
				<td>20</td>
				
				<td><button class="tramite-bttn">Revisar</button></td>
			  </tr>
			  <tr>
			  	<td>Disponibilidad hídrica</td>
				<td>Aliquam tincidunt orci in gravida egestas. Donec consequat ut lorem a porta.</td>
				<td>21</td>
				
				<td><button class="tramite-bttn">Revisar</button></td>
			  </tr>
			  <tr>
				<td>Solicitud hídrica</td>
				<td>Cras pellentesque efficitur dapibus.</td>
				<td>22</td>
				

				<td><button class="tramite-bttn">Revisar</button></td>
			  </tr>
			  <tr>
			  	<td>Disponibilidad hídrica</td>
				<td>Integer eu purus venenatis, laoreet elit ut, laoreet mi </td>
				<td>23</td>
				
				<td><button class="tramite-bttn">Revisar</button></td>
			  </tr>
			</table>
			<br>
			<button class="azul-bttn-little">+ nuevo formulario</button>
		</div>
	</div>
	</div>
	</div>
	</div>
</div>

<footer id="mainFooter">
	<!--div id="footerASADA" class="footer-left">
		<h3>ASADAS inscritas</h3>

	</div>

	<div id="footerContacto" class="footer-right">
		<h3>Contacto</h3>
	</div>

	<div class="footer-bottom"> 
		<div> Instituto Tecnológico de Costa Rica ® 2017 </div>
	</div-->
</footer>

</body>

</html>
